<div class="container">
  <h2>Courses Content</h2>
  <button type="button" routerLink="/course-content/course-content/angulartemplentsyntax">Angulartemplentsyntax</button>
  <button type="button" routerLink="/course-content/course-content/buildingcomponents">Buildingcomponents</button>
  <button type="button" routerLink="/course-content/course-content/masteringpipes">Pipes</button>
  <button type="button" routerLink="/course-content/course-content/directivesangular">Directives</button>
</div>

<div class="container">
  <h2>Exercises</h2>
  <button type="button" routerLink="/exercises/exercises/typing-exercises">TypingExercises</button>
</div>
<button type="button" routerLink="">Home</button>

<router-outlet></router-outlet>