<div class='is-flex is-justify-content-center'>
  <figure class="has-ratio" width="640" height="100">
    <h2 class="is-flex is-justify-content-center"><b>{{ images[currentPage].title}}</b></h2>
    <img [src]="images[currentPage].url" [alt]="images[currentPage].title">
  </figure>
</div>


<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous" [appClass]="{ 'is-disabled': currentPage === 0 }" (click)="currentPage !== 0 ? (currentPage = currentPage - 1) : null">
    Previous
  </a>
  <a class="pagination-next" [appClass]="{ 'is-disabled': currentPage === images.length - 1 }" (click)="currentPage !== images.length - 1 ? (currentPage = currentPage + 1) : null">
    Next page
  </a>
  <ul class="pagination-list">
    <ng-container *appTimes="images.length; let i = index">
      <li *ngIf="checkWindowIndex(i)">
        <a class="pagination-link" [appClass]="{ 'is-current': i === currentPage }" (click)="currentPage !== i ? (currentPage = i) : null">
          {{ i + 1 }}
        </a>
      </li>
    </ng-container>
  </ul>
</nav>